# LaTeX build directory
**/build/

# Standard LaTeX temporary files
*.aux
*.log
*.out
*.toc
*.bbl
*.blg
*.bcf
*.xml
*.synctex.gz
*.fls
*.fdb_latexmk
*.pdf

# Archivos generados de manera automatica
requirements/common/
requirements/user-stories/
ui-ux/assets/tokens.css